*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    
 }
 
 

.top{
    display: flex;
   justify-content: space-evenly;
    background-image: url(./hamburger.jpg);
    background-repeat: no-repeat;
    width:auto;
    height: 100vh;
}
.top  a{
    display: flex;
    justify-content:space-between;
    text-decoration: none;
    padding-top: 20px;
    font-size: 20px;

}
.top h2{
}
 .w h1{
    padding-top: 80px;
}
.w2{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    font-style: italic;

}
.w2 img{
    padding-left: 17%;
    height: 600px;
margin-left: 40px;
}
.w3 p{
    padding-right: 90px;
    font-style: italic;
}
.w3 h1 h5{
    padding-right: 40%;
    margin-right: 20%;
    font-style: italic;
    font-size: medium;
}
.q{
    padding-bottom: 10px;
}
.w21{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.col img{
    padding-right: 14%;
}
.w21 .w13 h1 h4 p{
    padding-left: 16%;
    margin-left: 40px;
    grid-template-areas: inherit;
}
#fg{
    background-color: rgb(3, 122, 122);
    height: 50px;
    display: flex;
    justify-content: center;
}
